<app-header></app-header>

<section class="intro">
  <div class="mask d-flex align-items-center h-100 gradient-custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2">MedHUB</h3>
              <form
                class="row g-3 needs-validation row-gap-3 ms-1 me-1"
                novalidate
              >
                <!-- <div class="col-md-4">
                  <label for="validationCustom01" class="form-label"
                    >brandName</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="MED"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div> -->
                <!-- <div class="col-md-4">
                  <label for="validationCustom02" class="form-label"
                    >Amount</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom02"
                    placeholder="HUB"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div> -->
                <div class="row">
                  <div class="col">
                    <label for="validationCustomUsername" class="form-label m-2"
                      >Brand name</label
                    >
                    <input
                      type="text"
                      class="form-control w-100"
                      placeholder="brand name"
                      aria-label="pharamacy id"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="validationCustomUsername" class="form-label m-2"
                      >pharamacy id</label
                    >
                    <input
                      type="number"
                      class="form-control w-100"
                      placeholder="pharamacy id"
                      aria-label="pharamacy id"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="validationCustomUsername" class="form-label m-2"
                      >Amount</label
                    >
                    <input
                      type="text"
                      class="form-control w-100"
                      placeholder="enter amount"
                      aria-label="name of pharmachy"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="validationCustomUsername" class="form-label m-2"
                      >Expire date</label
                    >
                    <input
                      type="date"
                      class="form-control w-100"
                      aria-label="expirdate"
                    />
                  </div>
                </div>
                <div class="btn1">
                  <button type="button" class="btn btn-primary pt-6 ">
                    update
                  </button>

                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
