<!-- <app-header></app-header>


<body>


<section class="hero-section hay" id="hero">
  <div class="main1">
    <div class="container">

      <div class="row align-items-center">

        <div class="col-12 hero-text-image">
          <div class="row">
            <div class="col-lg-8 text-center text-lg-start">

              <h1 data-aos="fade-right" class="welocme">Welcome to MedHUB</h1>
              <p class="mb-5" data-aos="fade-right" data-aos-delay="100">
                Use our app and we will help you find your desired medicine in
                your nearby location.
              </p>
              <p
                data-aos="fade-right"
                data-aos-delay="200"
                data-aos-offset="-500"
              >
                <a routerLink="HomeBody" href="#" class="btn btn-outline-white"
                  >Continue as a casual User</a
                >
              </p>
              <p
                data-aos="fade-right"
                data-aos-delay="200"
                data-aos-offset="-500"
              >
                <a routerLink="loginpage" href="#" class="btn btn-outline-white"
                  >Pharmacy Owner</a
                >
              </p>
              <p
                data-aos="fade-right"
                data-aos-delay="200"
                data-aos-offset="-500"
              >
                <a routerLink="Sign-up" href="#" class="btn btn-outline-white"
                  >Sign up</a
                >
              </p>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>

</section>
</body>

<app-footer></app-footer> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Med Hub</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="/frontEnd/src/app/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/frontEnd/src/app/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/frontEnd/src/app/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/frontEnd/src/app/assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="sala">
      <section
        id="hero"
        class="d-flex align-items-center justify-content-center"
      >
        <div class="container" data-aos="fade-up">
          <div
            class="row justify-content-center"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <div class="col-xl-6 col-lg-8 haye">
              <h1>
                Welcome To <br />
                Med HuB<span></span>
              </h1>
              <h2>
                Use our app and we will help you find your desired medicine in
                your nearby location.
              </h2>
            </div>
          </div>

          <div
            class="row gy-4 mt-5 justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="250"
          >
            <div class="col-xl-2 col-md-4" routerLink="/HomeBody">
              <div class="icon-box">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h3><a>Casual user</a></h3>
              </div>
            </div>
            <div class="col-xl-2 col-md-4" routerLink="/login">
              <div class="icon-box">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h3><a>Pharmacy owner</a></h3>
              </div>
            </div>
            <div class="col-xl-2 col-md-4">
              <div class="icon-box" routerLink="/About">
                <i class="fa fa-book" aria-hidden="true"></i>
                <h3><a href="">About</a></h3>
              </div>
            </div>
            <div class="col-xl-2 col-md-4">
              <div class="icon-box">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <h3><a href="">Partner pharmacies</a></h3>
              </div>
            </div>
            <div class="col-xl-2 col-md-4">
              <div class="icon-box">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3><a href="">Teams</a></h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="/frontEnd/src/app/assets/vendor/aos/aos.js"></script>
    <script src="/frontEnd/src/app/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/frontEnd/src/app/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/frontEnd/src/app/assets/js/main.js"></script>
  </body>
</html>
