section {
  background-image: linear-gradient(
    to right,
    #52b3f8,
    #37c7f3,
    #1ab3b8,
    #15bacd
  );
}

h1 {
  font-weight: 600;
  text-align: center;
}
h2 {
  font-weight: 400;
  text-align: center;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #52b3f8, #37c7f3, #1ab3b8, #15bacd);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
