/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: #81afaa;
  background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
  background: linear-gradient(to right, #00b09b, #96c93d);
  min-height: 100vh;
}

.row {
  background: linear-gradient(to right, #09e8ce, #006c7a);
}

.text-gray {
  color: #aaa;
}
