* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(85, 189, 202);
  box-sizing: border-box;
}

.header {
  margin-bottom: 50px;
}
.nav1:hover {
  color: rgba(11, 53, 100, 0.774);
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
  font-size: 18px;
}
input {
  outline: none;
  border: none;
}

.active > a {
  font-weight: bold;
}

.basic-flex {
  display: flex;
  align-items: center;
}
.Nav__wrapper {
  width: 100%;
  position: static;
  top: 0;
  justify-content: space-between;
  padding: 5px 50px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  height: 65px;
}
.Nav__wrapper-logo img {
  width: 60px;
}

.unCollapsed > li {
  display: inline;
  margin: 1rem;
  font-weight: 400;
  font-size: 1.1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.logo a {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: end;
  gap: 5%;
  width: 50%;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  justify-content: end;
  margin-right: 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }

  .show-nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;

    padding: 20px;
  }

  .show-nav-links li {
    text-align: center;
    margin: 10px 0;
  }
}
