
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-image: linear-gradient(
    to right,
    #52b3f8,
    #37c7f3,
    #1ab3b8,
    #15bacd
  );
  margin-bottom: 50px;
}
.nav1:hover{
  color: rgba(11, 53, 100, 0.774);
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: none;
  border: none;
}

.active > a {
  font-weight: bold;
}

.basic-flex {
  display: flex;
  align-items: center;
}
.Nav__wrapper {
  width: 100%;
  position: static;
  top: 0;
  justify-content: space-between;
  padding: 5px 50px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  height: 65px;
}
.Nav__wrapper-logo img {
  width: 60px;
}

.unCollapsed > li {
  display: inline;
  margin: 1rem;
  font-weight: 400;
  font-size: 1.1rem;
}
@media only screen and (min-width: 681px) and (max-width: 800px){
  .header{
    width: fit-content;
  }
}



