<nav>
  <div class="logo">
    <a href="#">Medhub</a>
  </div>
  <ul class="nav-links" [class.show-nav-links]="showNavLinks">
    <li><a class="nav1" routerLink="/HomeBody">Home</a></li>
    <li><a class="nav1" routerLink="/About">About</a></li>
    <li><a class="nav1" routerLink="/search-result">Servics</a></li>
  </ul>
  <div class="burger" (click)="toggleNavLinks()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>

<!-- <header class="header">
  <nav id="nav" class="Nav__wrapper basic-flex">
    <div class="Nav__wrapper-logo logo">
      <h1></h1>
    </div>
    <ul class="unCollapsed" [class.show-nav-links]="showNavLinks">
      <li><a >Home</a></li>
      <li><a >About</a></li>
      <li><a >Servics</a></li>
    </ul>
    <div class="burger" (click)="toggleNavLinks()">
      <div class="line" routerLink="/HomeBody"></div>
      <div class="line" routerLink="/About"></div>
      <div class="line" routerLink="/search-result"></div>
    </div>
  </nav>
</header> -->



