<header class="header">
  <nav id="nav" class="Nav__wrapper basic-flex">

      <div class="Nav__wrapper-logo">
        <h1>Medhub</h1>
      </div>
      <ul class="unCollapsed">
          <li><a class="nav1" routerLink="/HomeBody">Home</a></li>
          <li><a class="nav1" routerLink="/About">About</a></li>
          <li><a class="nav1" routerLink="/search-result">Servics</a></li>
      </ul>
=======
    <div class="Nav__wrapper-logo">
      <h1>Medhub</h1>
    </div>
    <ul class="unCollapsed">
      <li><a class="nav1" routerLink="/HomeBody">Home</a></li>
      <li><a class="nav1" routerLink="/About">About</a></li>
      <li><a class="nav1" routerLink="/HomeBody">Contact</a></li>
      <li><a class="nav1" routerLink="/Sign-up">Servics</a></li>
    </ul>

  </nav>

</header>


