.intro {
  width:100%;
  height: 100vh;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #5ca7c7;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgb(21, 111, 153), rgb(87, 105, 241))
}
.btn11{
  margin-top: 15px;
  align-items: center;
}
form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
