.intro {
  width:100%;
  height: 100vh;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #49bef0;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgb(81, 193, 245), rgb(41, 65, 252))
}
