/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;

}

body{
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-size: 18px;


}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
