<app-header></app-header>
<table class="table">
  <thead>
    <tr>
      <th scope="col">medicine id</th>
      <th scope="col">generic Name/th></th>
      <th scope="col">batch no</th>
      <!-- <th scope="col">managers name</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medicine of medicines">
      <th scope="row">{{ medicine.id }}</th>
      <td>{{ medicine.genericName }}</td>
      <td>{{ medicine.batchNumber }}</td>
      <!-- <td>Fkrnew Birhanu</td> -->
    </tr>
  </tbody>
</table>
<app-footer></app-footer>
