.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20% 0;

}

.container img{
    width: 25%;
}

.container input{
    
    position: relative;
    display: inline-flex;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s ;
}

.container input[type="text"]{
    background: #fff;
    width: 75%;
    height: 50px;
    border: 1px solid black;
    border-width: 1px 0 1px 1px;
    outline: none;
    padding: 0 25px;
    border-radius:25px 0 0 25px;
    text-align: center;
    



}

.container input[type="submit"]{
    
    position: relative;
    border-radius:0 25px 25px 0;
    width: 25%;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(28, 130, 173,0.5);
    
}