<footer class="footer-section">
  <div class="footer__navigation basic-flex">
      <div class="footer-col column-1">
          <h1>Links</h1>
          <ul>
              <li><a routerLink="HomeBody">Home</a></li>
              <li><a routerLink="About">About</a></li>
              <li><a >Services</a></li>
          </ul>
      </div>
      <div class="footer-col column-2">
          <h1>Contacts</h1>
          <ul>
              <li>
                  <a href="https://www.facebook.com" >
                    <i class="fa fa-facebook-square icons" aria-hidden="true"></i>
                      <span>facebook</span>
                  </a>

              </li>

              <li>
                  <a href="https://www.twitter.com">
                    <i class="fa fa-twitter icons" aria-hidden="true"></i>
                      <span>Twitter</span>
                  </a>
              </li>

              <li>
                  <a href="https://www.instagram.com">
                    <i class="fa fa-instagram icons" aria-hidden="true"></i>
                      <span>Instagram</span>
                  </a>
              </li>

              <li>
                  <a href="https://https://mail.google.com/">
                    <i class="fa fa-envelope-o icons" aria-hidden="true"></i>
                      <span>Email</span>
                  </a>
              </li>

          </ul>
      </div>
      <div class="footer-col column-3">
          <h1>Address</h1>
          <ul>
              <li>Ethiopia</li>
              <li>Addis Ababa</li>
              <li>4kilo</li>

          </ul>
      </div>
  </div>
  <img class="footer-logo" src="https://t3.ftcdn.net/jpg/03/22/50/68/360_F_322506810_Y8h8m2grFEPrrvRdUZqHB5hrv2kfVLrt.jpg" alt="this is the logo">
  <h1 class="footer-company-name">MedHub</h1>
  <p class="copyRight">@copyright reserved 2023</p>
</footer>
