

footer {
  padding: 2rem 5rem;
  margin: 2rem auto 0px auto;
  /* background-image: linear-gradient(
    to right,
    #52b3f8,
    #37c7f3,
    #1ab3b8,
    #15bacd
  ); */
  background-color: rgb(9, 73, 66);
  color:black;
}
.basic-flex {
  display: flex;
  align-items: center;
}
footer a {
  color:black;
  list-style: none;
  text-decoration: none;
}
.footer__navigation {
  width: 80%;
  margin: 1rem auto;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo {
  width: 100px;
  display: block;
  margin: 2rem auto;
  border-radius: 50%;
}
.footer-col > h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.footer-col > ul > li {
  margin: 0.75rem auto;

  padding: 5px 20px ;
  background-color: rgba(255, 255, 255, 0.411);
  list-style: none;

}
.footer-company-name > ul > li > a {
  cursor: pointer;
  text-align: center;
}
.footer-company-name,
.copyRight {
  text-align: center;
}
.footer-company-name {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.icons{
  margin-right: 15px;
  width: 10px;

}
@media (0px < width < 880px) {

  .footer-section {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__navigation {
    width: 80% !important;
  }


}

@media screen and (0<width<620px) {
  .footer__navigation{
    display: grid;
    grid-template-columns: 1fr;
  }
}

  /* .footer__navigation {
    display: block;
    align-items: flex-start;
  }
  .footer-col > h1 {
    padding: 5px;
    margin: 1rem auto;
    width: 70% !important;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
  }
  .footer-col > h1::after {
    position: absolute;
    content: "+";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: green;
    right: -20px;
    top: 0;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .footer-col > ul {
    display: none;
  }
}
.unCollapsedFooterUl {
  display: block !important;
}
.unCollapsedFooterUl > li {
  padding: 5px 0px 5px 30px;
  background-color: rgba(255, 255, 255, 0.05);
} */


